<h1><%= image_tag("HTML.png", width: "300px") %></h1>
<p><%= t('.about_page_desc') %></p>

<ul>
	<li><%= t('.about_page_content1') %></li><br/>
	<li><%= t('.about_page_content2') %></li><br/>
	<li><%= t('.about_page_content3') %></li><br/>
	<li><%= t('.about_page_content4') %></li><br/>
</ul>