<h1><%= t('.about_page_header') %></h1>

<aside><%= image_tag("css.jpg", width: "300px") %></aside>

<ul>
  <li><%= t('.about_page_content') %></li><br/>
  <li><%= t('.about_page_content1') %></li><br/>
  <li><%= t('.about_page_content2') %></li><br/>
  <li><%= t('.about_page_content3') %></li><br/>
  <li><%= t('.about_page_content4') %></li><br/>
</ul>
